form{
    text-align: center;
    font-size: 20px; 
    color:black;
    background-color: rgb(16, 233, 161);
    border: 1px solid;
    position: absolute;
    top: 20%;
    bottom:20%;
    left:20%;
    right: 20%;
    padding-top: 100px;
}
#head_tag{
    color: blue;
}
button{
    font-size: 25px;
    color: rgb(255, 0, 72);
    background-color: black;
}
/* body{ */
    /* background-color: rgb(203, 23, 104); */
/* } */
 span{
            color: blue;
        }